:root {
  --primary-color: #83895C;
  --bg-gradient: linear-gradient(180deg, #252D43 0%, #252D43 100%);
  --bg-color: #252D43;
  --white: #fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kaisei Decol;
}
body{
  font-family: 'Kaisei Decol', serif;
}
html, body {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

a{
  color: unset;
  text-decoration: none;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
 
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
