footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper{
        width: 100%;
        max-width: 1480px;
        height: 538px;
        background: #545032;;
        display: flex;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 500px) {
            height: unset;
            padding: 3rem 0;
           }
        .container{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 85%;
            text-align: center;
            .logo{
                display: flex;
                gap: 10px;
                align-items: center;
                margin-bottom: 10px;
                h2{
                    font-size: 50px;
                    color: var(--white);
                    @media screen and (max-width: 500px) {
                        font-size: 40px; 
                       }
                }
                img{
                    width: 48px;
                    height: 50px;
                }
            }
            .line{
                width: 140px;
                height: 1px;
                background: rgba(255, 255, 255, 0.20);
                margin: 1.5rem 0;
            }
            p{
                font-size: 15px;
                line-height: 32px;
                color: var(--white);
                @media screen and (max-width: 500px) {
                    font-size: 13px;
                    line-height: 28px;
                   }
            }
            .space{
                top: 15.5rem;
                position: absolute;
                margin-top: 10px;
                display: flex;
                gap: 25px;
                p{
                    cursor: pointer;
                    padding-bottom: 2px;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}