nav {
  width: 100vw;
  height: 137px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 500px) {
    height: 100px;
  }
  .wrapper {
    position: relative;
    width: 100%;
    max-width: 1480px;
    height: 100%;
    background: var(--bg-gradient);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1100px) {
      max-width: unset;
      justify-content: flex-start;
    }
    .mobile-menu {
      position: absolute;
      display: none;
      right: 2rem;
      z-index: 3;
      @media screen and (max-width: 1100px) {
        display: block;
      }
      @media screen and (max-width: 600px) {
        right: 1rem;
      }
      .menu-icn {
        width: 30px;
        height: 30px;
        color: var(--white);
        cursor: pointer;
      }
    }
    .left {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 50px;
      margin-bottom: 10px;
      cursor: pointer;
      @media screen and (max-width: 500px) {
        padding-left: 1rem;
      }
      h2 {
        font-size: 34px;
        color: var(--white);
      }
      .logo {
        width: 23px;
        height: 24px;
        margin-bottom: 12px;
      }
    }
    .right {
      position: relative;
      display: flex;
      align-items: center;
      gap: 67px;
      z-index: 3;
      @media screen and (max-width: 1250px) {
        gap: 30px;
      }
      @media screen and (max-width: 1100px) {
        display: none;
        background: var(--bg-gradient);
        flex-direction: column;
        position: absolute;
        width: 70vw;
        gap: 60px;
        height: 80vh;
        top: 0rem;
        right: 0;
        border-radius: 5px;
        padding: 4rem 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        animation: fadeVisibility 0.5s;
      }
      @media screen and (max-width: 500px) {
        gap: 30px;
      }
      .menu-close-btn {
        position: absolute;
        display: none;
        top: 3rem;
        right: 2rem;
        z-index: 3;
        @media screen and (max-width: 1100px) {
          display: block;
        }
        @media screen and (max-width: 500px) {
          top: 2rem;
          right: 1rem;
        }

        .menu-close-icon {
          width: 30px;
          height: 30px;
          color: var(--white);
          cursor: pointer;
        }
      }
      a {
        font-size: 13px;
        letter-spacing: 1.95px;
        color: var(--white);
        height: 137px;
        display: flex;
        align-items: center;
      }
      .highlight-bg {
        background: var(--primary-color);
        height: 137px;
        padding: 0 50px;
        transition: 0.4s;
        &:hover {
          opacity: 0.9;
        }
        @media screen and (max-width: 1100px) {
          height: 60px;
          padding: 0 20px;
        }
        @media screen and (max-width: 350px) {
          height: 50px;
          padding: 0 20px;
        }
      }
    }
  }
}
